<!DOCTYPE html>
<%- include('header') -%>
<html>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni earum saepe
    officia voluptatem fuga, facere quisquam voluptate corporis pariatur
    inventore recusandae reprehenderit tenetur totam beatae esse, dolorum
    laboriosam? Minus, quos.
  </p>
  <%- include('footer') -%>
</html>
